 body{
      background: #CE0037;
    }
    .texto {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      font-family: Arial, sans-serif;
    }
    .caixa {
      width: 500px;
      margin: 0 10px;
      background:#F8F6D7 ;
    }
    .input-caixa {
      height: 250px;
    }
    .output-caixa {
      height: 250px;
    }
    .button {
      display: block;
      margin-top: 10px;
      padding: 10px;
      width: 100%;
      text-align: center;
      background-color: #F8F6D7;
      color: black;
      font-weight: bold;
      text-decoration: none;
      cursor: pointer;
      }

      .imagemcripto{
        display:flex;
        justify-content: center;

      }

      h1{
        width: 50%;
      }